.highlight {
    color: black;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
    background-color: rgb(254, 255, 96);
}

#search-result-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-row-gap: 5px;
}

.sr-grid:nth-child(6n+2) {
    background-color: lightblue;
}

.sr-grid:nth-child(6n+5) {
    background-color: lightgray;
}

/* #search-result-container:nth-child(odd) { */
/*     background-color: lightyellow; */
/* } */

.searchresult {
    padding: 15px;
    border-radius:20px;
}

#case-data-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
}


#files-box {
    background-color: lightgray;
    border-radius: 10px;
}

#saved-searches-box {
    background-color: lightblue;
    border-radius: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.saved-search-entry {
    padding-left: 50px;
    padding-top: 10px;
}

.saved-search-entry a:hover {
    background-color: yellow;
}
