<html>
  <head>
    <title>Main app</title>
    <script src="/static/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/static/mainmenu.css"/>
  </head>
  <body>
    <div id="menu-icon-grid-container">
      <div></div>
      <div></div>
      <div id="header">
	<h1>Haystack Legal Search</h1>
      </div>
      <div></div>
      <div></div>

      <div></div>
      <div class="icondiv">
	<div>
	  <button>
	    <img id="clients_button" src="/static/clients.png">
	  </button>
	</div>
      </div>
      <div class="icondiv">
	<button>
	  <img id="cases_button" src="/static/cases.png"><p>
	</button>
      </div>
      <div>
      </div>
      <div></div>
    </div>
    <script src="/static/mainmenu.js"></script>
  </body>
</html>

